.group-left { float:left; width: 50%; }
.group-right { float: left; width: 50%; }
fieldset { border: none; }
fieldset.filter-wrapper { border: 1px solid #cccccc; }
fieldset legend { display: none; }
form .field-multiple-table th.field-label { display: none; }
/*
input.dataset,
textarea.dataset { border: 0; }
*/
.resource-browser-modal { width: 829px; height: 500px; }
.tabledrag-toggle-weight-wrapper { display: none; }

.table-condensed .item.body { height: 250px; overflow: auto; }
label { font-weight: bold; }

.dataset { margin-left: 20px !important; }
.dataset.first { margin-left: 0 !important; }
.dataset .thumbnail { width: 270px; height: 200px; text-align: center; }
.dataset .thumbnail .image { width: 270px; height: 150px; }
.thumbnail img { margin:auto; display: block; }
