.rb-search-filter {
  float: left;
  padding-right: 25px;
}

.rb-type-selector {
  float: left;
  padding-right: 25px;
}


.rb-table-wrapper {
  border: 1px solid #0094bb;
}

table.ng-scope {
    width: 100%;
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: #0094bb;
    border-collapse: collapse;
    background-color: white;
}
table.ng-scope th {
    border-width: 1px;
    padding: 3px 1px;
    border-style: solid;
    border-color: #cbcbcb;
    background-color: #979797;
    -moz-border-radius: ;
    text-align: left;
    padding-left: 13px;
    color: #fff;
    font-weight: normal;
}
table.ng-scope th a {
  color: #fff;
}

table.ng-scope td {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: #cbcbcb;
    background-color: #ffffff;
    -moz-border-radius: ;
    vertical-align:top;
    padding: 13px;
    color: #000;
}
table.ng-scope tr:hover td {
    background-color: #ebf7fb;
    border-color: #8fbbca;
}

table.ng-scope td input {
  float: left;
  margin-right:10px;
  margin-top:40px;
}


table.ng-scope  tr:hover td .thumb {
  border-color: #0a98be;
}

table.ng-scope td a {
  color: #000;
}

table.ng-scope td .title {
  font-weight: bold;

}

table.ng-scope td .author {
  font-weight: bold;

}



table.ng-scope td .thumb {
    border: 1px solid #c1c1c1;
    margin-right: 15px;
    float: left;
    height: 89px;
}

.rb-type-selector { width: 600px; }
.rb-type-selector ul {
  list-style: none;
  margin: 0;
  float: left;
  margin-right: 20px;
}
.rb-type-selector ul li {
  float: left;
  width: 48px;
  height: 65px;
  text-align: center;
}

.rb-type-selector ul li span {
  display: block;
  margin-top: 40px;
  color: #316c83;
  font-size: 12px;

}

.rb-type-selector ul li.cm {
    width: 49px;
    background-image: url(../images/rb_buttons_cm.png);
}
.rb-type-selector ul li.ev {
    background-image: url(../images/rb_buttons_ev.png);
}
.rb-type-selector ul li.llb {
    background-image: url(../images/rb_buttons_llb.png);
}
.rb-type-selector ul li.image {
    background-image: url(../images/rb_buttons_image.png);
}
.rb-type-selector ul li.multimedia {
    background-image: url(../images/rb_buttons_video.png);
}
.rb-type-selector ul li.document {
    background-image: url(../images/rb_buttons_doc.png);
}

.rb-type-selector ul li.active span {
  color: #fff;
}

.rb-type-selector ul li.cm.active {
    width: 49px;
    background-image: url(../images/rb_buttons_cm_sel.png);
}
.rb-type-selector ul li.ev.active {
    background-image: url(../images/rb_buttons_ev_sel.png);
}
.rb-type-selector ul li.llb.active {
    background-image: url(../images/rb_buttons_llb_sel.png);
}
.rb-type-selector ul li.image.active {
    background-image: url(../images/rb_buttons_image_sel.png);
}
.rb-type-selector ul li.multimedia.active {
    background-image: url(../images/rb_buttons_video_sel.png);
}
.rb-type-selector ul li.document.active {
    background-image: url(../images/rb_buttons_doc_sel.png);
}

.dialog .rb-ads {
  display: none;
}

#rb-tabs .nav-tabs {
  display: none;
}

.rb-search-filter select {
  width: 272px;
}

.rb-search-filter input[type=text] {
  width: 200px;

}

.rb-search-filter input.btn {
  background-color: #0995ca;
  background-image: none;
  color: #fff;
  border-radius: 6px;
  text-shadow: none;
  border-color: #52839c;
}
.paging { padding-top: 10px; text-align: center; }
.paging a { padding-right: 10px; cursor: pointer; }
.paging a:hover { font-weight: bold; }
.paging a.active { font-weight: bold; }
