body {
    background: #fff;
    color: #000;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
#canvas {
    height: 695px;
    margin: 0 auto;
    text-align: left;
    width: 880px;
}
#assetList {
  position: absolute;
  height: 695px;
  width: 880px;
  top: 5px;
  left: 5px;
  background-color:rgba(74, 118, 163, 0.75);
}
#mapcontainer {
  position: relative;
}



